<plugin name='tizzit-web' version='0.5' grailsVersion='1.3.4 &gt; *'>
  <author>Sascha-Matthias Kulawik</author>
  <authorEmail>sascha-matthias.kulawik@juwimm.com</authorEmail>
  <title>Grails API to use Tizzit content in Grails applications</title>
  <description>\
This plugin provides the base functionality for Tizzit in Grails projects
</description>
  <documentation>http://grails.org/plugin/tizzit-grails-plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>TizzitWebPluginUrlMappings</resource>
    <resource>UrlMappings</resource>
    <resource>org.tizzit.web.controller.TizzitController</resource>
    <resource>org.tizzit.web.service.TizzitRestClientService</resource>
    <resource>org.tizzit.web.taglib.TizzitTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>