<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
    <param name="Target" value="System.out" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n [%c{1}] -->
      <!--<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n" />-->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
    </layout>
  </appender>

  <appender class="org.apache.log4j.FileAppender" name="FILE">
    <param name="File" value="./target/work/log/log4j.log" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %t %-5p %c{2} - %m%n" />
    </layout>
  </appender>

<!--  <category name="org.apache">
    <priority value="DEBUG" />
  </category>-->

  <category name="org.tizzit">
    <priority value="DEBUG" />
  </category>

  <category name="de.juwimm">
    <priority value="DEBUG" />
  </category>

  <root>
    <priority value="INFO" />
    <appender-ref ref="CONSOLE" />
  </root>


</log4j:configuration>
